{% extends 'registration/base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
    <h1>Hi {{user}}, Please provide us a Feedback</h1>
    
 
<form action="{% url 'feedback_form' %}" method="post">
   {% csrf_token %}
   
   <label>Client Name:  </label> {{ form.users }}<br>
   <label>Service Type: </label> {{ form.services_text }}<br>
   <label>Client Feedback: </label> {{ form.posts_text }}<br>
<input type="submit" value="Submit">
</form>

    {% if messages %}
<ul class="messages">
{% for message in messages %}
<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
{{ message }}
</li>
{% endfor %}
</ul>
{% endif %}
<script>var user = {{user}};</script>
<a href="{% url 'home' %}" >Back to List</a>
{% endblock %}