{% extends 'registration/base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
    <h1>Feedbacks</h1>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Date Published: {{feedback.pub_date}}</label>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Client Name: {{feedback.users}}</label>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Service Type: {{feedback.services_text}}</label>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Client Feedback: {{feedback.posts_text}}</label>
      </div>
      
   <a class = "btn btn-dark" href="{% url 'home' %}">Return</a>
    
{% endblock %}