{% extends 'registration/base.html' %} {% block head %}
<title>Home</title>
{% endblock %} {% block body %}
<h1>Feedbacks</h1>
<br>
<a class = "btn btn-dark" href="{% url 'feedback_form' %}">Add Feedback</a>

<div class="list-group">
{% for item in latest_feedback_list %}   
<br><br>
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">{{item.pub_date}}]</a>       
        <a href="{% url 'feedback' item.pk %}" class="list-group-item list-group-item-action">Client Name: {{ item.users }} <br> Service Type: {{ item.services_text }}
        <br> Feedback: {{ item.posts_text }} <br> </a>   
        <br>
        <input id=demoInput type=number min=0 max=1>
<button onclick="increment()">Like</button>
<button onclick="decrement()">Remove Like</button>
<script>
   function increment() {
      document.getElementById('demoInput').stepUp();
   }
   function decrement() {
      document.getElementById('demoInput').stepDown();
   }
</script>
        {% endfor %}
        
    </div>

   
{% endblock %}
